.body{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color:#121312;
}
.container {
    max-width: 1000px;
	text-align:center;
	background-color:#003300;
}
 
.h1 fw-bold mb-0 {
	text-align:center;
    background-color:aqua;
}